@page "/reports"
@rendermode InteractiveServer

@using SimpleAnalyticApp.Services
@using SimpleAnalyticApp.Models

@inject NavigationManager NavManager
@inject IWebHostEnvironment env
@inject ITaskService TaskService
@inject SimpleAnalyticApp.Utils.TcpClientHandler TcpClient

<h3>Reports</h3>

@if(tasksList.Count !=0)
{
    @foreach(var task in tasksList)
    {
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">@task.TaskName</h5>
                <h6 class="card-subtitle mb-2 text-muted">@task.Id</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    }
}

@code {

    private List<TaskModel> tasksList = new();

    protected override async Task OnInitializedAsync()
    {
        tasksList = await TaskService.GetTasks();
    }
}
