@if (ShowLoadingDialog)
{
    <div class="modal fade show d-block" tabindex="-1" style="background-color: rgba(0,0,0,0.5);">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content text-center p-4">
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <div class="mt-2">Please wait...</div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter] public bool ShowLoadingDialog { get; set; }
}
